* {
    box-sizing: border-box;
    font-family: "Yuji Mai", serif;
    font-weight: 400;
    font-style: normal;
}
  
body {
    margin: 0;
    background-color: rgb(49, 47, 47);
}
  
/* HEADER */
header {
    height: 6rem;
    background-color: #16595f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 3rem;
    padding: 1rem;
}

.header--score {
    font-size: 1.5rem;
}

/* CARDS */
.cards--container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 2rem 1rem;
}

.card {
    height: 350px;
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #16595f;
    border-radius: 15px;
    color: white;
    cursor: pointer;
}

.card:hover {
    opacity: 90%;
    color: yellow;
}

.card--kanji {
    font-size: 12.5rem;
    background-color: #0e464b;
    width: 95%;
    text-align: center;
    border-radius: 10px;
    user-select: none;
}

.card--translation {
    font-size: 1.5rem;
    user-select: none;
}

@media only screen and (max-width: 640px) {
    header {
        font-size: 1.8rem;
        height: 5rem;
    }

    .header--score {
        font-size: 0.9rem;
    }

    .card {
        height: 200px;
        width: 160px;
    }

    .card--kanji {
        font-size: 6rem;
    }
}
